<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
	<appSettings>
		<add key="configpath" value="C:\WindowService\Source\AppScheduler\bin\Debug\AppScheduler.xml"/>
    <add key="pathLogFile" value="C:\WindowService\Source\AppScheduler\bin\Debug\LogFile.txt"/>
    
  </appSettings>
</configuration>