<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.12.4" targetFramework="net20" />
  <package id="jQuery.UI.Combined" version="1.12.1" targetFramework="net20" />
  <package id="System.Core" version="3.5.21022.801" targetFramework="net20" />
  <package id="System.Xml.Linq" version="3.5.21022.801" targetFramework="net20" />
</packages>